:root {
    --contactButtonColor: #2c8e95;
    /* --contactButtonColor: royalblue; */
    --aboutUsH1Color: #2c8e95;
    --aboutUsTextColor: #7c989a;
    scroll-behavior: smooth;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
    position: relative;
    max-width: 1920px;
    margin: auto;
}

/* Menu styling for desktops */
header {
    display: flex;
    min-height: 10vh;
    width: 90%;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 2;
}

.nav-logo {
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 2vh;
    z-index: 2;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 40%;
    z-index: 2;
}

.links-container a {
    text-decoration: none;
    color: #2c8e95;
    padding: 1rem 2rem;
    font-size: calc(1.6rem + 0.2rem);
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    outline: none;
    margin: 0 .5rem;
    font-weight: 600;
    z-index: 2;
}

.links-container a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--contactButtonColor);
    transition: 0.5s ease;
}

.links-container a:hover::after {
    left: 0;
}

.contact-button {
    padding: 1.5rem 3rem;
    font-size: calc(1.6rem + .2vw);
    color: white;
    background-color: #2c8e95;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    flex-basis: 15%;
    outline: none;
}

.contact-button:hover {
    color: var(--contactButtonColor);
    background: white;
    border: solid 1px var(--contactButtonColor);
}

.logo {
    background: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    width: 60%;
    height: 50%;
    z-index: 2;
}

/* End of styling for Desktops  */

/* Hamburger Menu for Mobile Devices */
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 2.5px auto;
    background-color: var(--aboutUsH1Color);
    transition: 0.5s ease-in;
}


/* #O Nas  */
.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.aboutLeftContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Ilustration on main page */
.image {
    flex-basis: 70%;
    width: 100%;
    height: auto;
}


.aboutUs h1 {
    font-size: 5rem;
    font-weight: bold;
    padding-top: 5rem;
    color: var(--contactButtonColor);
    line-height: 6.6rem;
    text-align: left;
}

.aboutUs p {
    padding-top: 1rem;
    font-size: calc(1.6rem + .2vw);
    color: var(--aboutUsTextColor);
    text-align: left;
    line-height: 3.9rem;
}

/* Services styling */
.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 40vh;
}

#sereivesLink {
    padding-top: 15vh;
    font-size: calc(2rem + 0.2vw);
}

.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    /* padding-top: 10vh; */
}

.services h2 {
    font-size: calc(4rem + .2vw);
    font-weight: 600;
    color: var(--aboutUsH1Color);
    margin: 10vh 0 10vh 0;
}

.horizontalMenu {
    box-shadow: 0 0 3.7rem 0 rgba(0, 0, 0, 0.07);
    width: 15vw;
    height: 15vw;
    margin: 2.5vw 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontalMenu img {
    width: 40%;
    color: var(--aboutUsTextColor);
}

.horizontalMenu h1 {
    font-size: calc(1.4rem + .2vw);
    font-weight: 600;
    text-align: center;
    color: var(--aboutUsTextColor);
    padding: 1rem;
}

/* Opinions Styling */
.opinions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opinions h2 {
    font-size: calc(4rem + .2vw);
    font-weight: 600;
    color: var(--aboutUsH1Color);
    /* margin: 10vh 0 10vh 0; */
}

.opinionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 20vw;
    overflow: hidden;
    transition: all 0.5s ease;
}

.opinionsContainer.active {
    max-height: 500vh;
}


.moreOpinions {
    background: var(--contactButtonColor);
    padding: 1.5rem 4rem;
    border-radius: 3rem;
    outline: none;
    font-size: calc(1.6rem + .2vw);
    color: white;
    background-color: #2c8e95;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    font-weight: 600;
}

.moreOpinions:hover {
    color: var(--contactButtonColor);
    background: white;
    border: solid 1px var(--contactButtonColor);
}

/* Contact form Heading and info styling */
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contactForm h2 {
    color: var(--aboutUsH1Color);
    font-size: calc(4rem + .2vw);
}

.contactForm p {
    color: var(--aboutUsTextColor);
    font-size: calc(2rem + .2vw);
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    min-height: 90vh;
}

.form-name,
.form-e-mail,
.form-message,
.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-name,
.form-e-mail,
.form-message {
    position: relative;
    min-height: 150%;
    font-size: calc(1.6rem + .2vw);
    overflow: hidden;
    line-height: calc(1.6rem + .2vw);
}

.form-name input,
.form-e-mail input,
.form-message input {
    width: 100%;
    height: 200%;
    color: var(--aboutUsH1Color);
    padding-top: 3rem;
    margin-bottom: .5rem;
    border: none;
    outline: none;
    font-size: calc(1.6rem + .2vw);
}

.form-name label,
.form-e-mail label,
.form-message label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 3rem;
    pointer-events: none;
    border-bottom: 1px solid var(--aboutUsTextColor);
}



.form-name label::after,
.form-e-mail label::after,
.form-message label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--aboutUsH1Color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name,
.content-e-mail,
.content-message {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;

}

.form-name input:focus+.label-name .content-name,
.form-name input:valid+.label-name .content-name,
.form-e-mail input:focus+.label-email .content-e-mail,
.form-e-mail input:valid+.label-email .content-e-mail,
.form-message input:focus+.label-message .content-message,
.form-message input:valid+.label-message .content-message {
    transform: translateY(-100%);
    color: var(--aboutUsH1Color);
    font-size: calc(1rem + .2vw);
}



.form-name input:focus+.label-name::after,
.form-name input:valid+.label-name::after,
.form-e-mail input:focus+.label-email::after,
.form-e-mail input:valid+.label-email::after,
.form-message input:focus+.label-message::after,
.form-message input:valid+.label-message::after {
    transform: translateX(0);
}


.submitButton button {
    background: var(--contactButtonColor);
    font-size: calc(2.2rem + .2vw);
    padding: 1rem 4rem;
    border-radius: 3rem;
    outline: none;
    color: white;
    background-color: #2c8e95;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    font-weight: 600;
}

.submitButton button:hover {
    color: var(--contactButtonColor);
    background: white;
    border: solid 1px var(--contactButtonColor);
}



/* 
.moveDownImage {
    margin-top: 30vh;
}

.moveDownAboutUs {
    margin-top: 75vh;
}

@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5.5px, 5.5px);
    background-color: var(--aboutUsH1Color);
    box-shadow: none;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5.5px, -5.5px);
    background-color: var(--aboutUsH1Color);
    box-shadow: none
} */

/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 5vh;

}

.logoFooter {
    background: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 10%;
    width: 28%;

}

.footerCompanyAdress {
    text-align: center;
    /* padding: .1rem; */
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--aboutUsTextColor);

}

.footerCompanyAdress p {
    margin: .5rem 0;
}

.footerCompanyContactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerCompanyContactInfo a,
.footerCompanyContactInfo p {
    margin: .3rem 0;
    /* padding: .1rem; */
    font-size: 1.2rem;
    font-weight: bold;
}

.footer p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--aboutUsTextColor);
}

.footer a {
    text-decoration: none;
    color: var(--aboutUsTextColor);
    font-size: 1.2rem;
    font-weight: bold;
}

.footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul li a {
    margin: .3rem 0;
}

@media (max-width: 1599px) {
    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    .nav-logo {
        width: 100%;
        height: 100%;
        flex: 3;
        margin-top: 2vh;
        padding: 2rem;
    }

    .contact-button {
        flex-basis: 18%;
    }

}

@media (max-width: 1224px) {
    .nav-logo {
        padding: 1rem;
    }

    .contact-button {
        padding: 1.5rem 1rem;

    }
}

@media (min-width: 768px) {

    .logo {
        width: 35%;

    }

    .contactButton {
        width: 30%;
        font-size: 2rem;
        border-radius: 30px;
        padding: 10px;
        margin-top: 2%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);

    }

    .siteWrapper {
        background-position: right top;
    }
}